<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Towtyflix</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Cadastro</h1>

        <form class="ui form" action="/addUser" method="post">
            <div class="field">
                <input type="text" name="user" placeholder="Usuario"><br>
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Senha"><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

    </div>
</body>

</html>