<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Towtyflix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div style="margin-top: 50px;" class="container-fluid px-5">
        <p class="m-0 p-2" style="position: absolute; top:10px; right: 50px;"><a href="/">Deslogar</a></p>

        <h1 class="ui text-center aligned header">Catalogo de filmes</h1>
        
        <div class="row" style="padding: 0 58px;">
            <div class="col-6">
                <h2 class="ui aligned header">Recomendaçoes</h2>
            </div>
            <div class="col-6">
                <p class="m-0 text-end">
                    Mostrar: 
                    <a href="/catalogo/{{user_id}}/12">12</a> |
                    <a href="/catalogo/{{user_id}}/24">24</a> |
                    <a href="/catalogo/{{user_id}}/36">36</a> |
                    <a href="/catalogo/{{user_id}}/48">48</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div id="carouselRec" class="carousel slide carousel-dark" data-bs-ride="carousel" style="padding: 0 70px ;">
                <div class="carousel-inner">
                    {% for m in rec_list %}
                        {% if (loop.index - 1) % 4 == 0 %}
                            {{'<div class="carousel-item'|safe}}{% if loop.index == 1 %}{{' active'|safe}}{% endif %}{{'"><div class="row">'|safe}}
                        {% endif %}
                            <div class="col-12 col-md-6 col-lg-3"">
                                <div class="card mb-3" style="min-height: 230px;">
                                    <div class="card-header d-flex align-items-center px-2" style="min-height: 90px;">
                                        <h4 class="h4 text-justify" dataNota="{{ m.nota }}">{{ m.name }} - N:{{ m.nota }}</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="m-0">{{ m.genre }}</p>
                                        <p class="m-0">
                                            <a href="/favoritar/{{user_id}}/{{m.id}}">
                                                {% if not m.favorito %}
                                                    {{ "Favoritar" }}
                                                {% else %}
                                                    {{ "Desfavoritar" }}
                                                {% endif %}
                                            </a> - 
                                            <a href="/assistir/{{user_id}}/{{m.id}}">Assistir</a> - 
                                            <a href="/assistirmetade/{{user_id}}/{{m.id}}">Um pouco</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index % 4 == 0 %}{{'</div></div>'|safe}}{% endif %}
                    {% endfor %}
                </div>{# style="width: 70px;"#}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselRec" data-bs-slide="prev" style="width: 70px;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselRec" data-bs-slide="next" style="width: 70px;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <h2 class="ui aligned header">Continuar assistindo</h2>
            </div>
        </div>
        <div class="row">
            {% for m in movie_list %}
                {% if(m.metade == True) %}
                    <div class="col-12 col-md-6 col-lg-3"">
                        <div class="card mb-3">
                            <div class="card-header d-flex align-items-center px-2" style="min-height: 90px;">
                                <h4 class="h4 text-justify">{{ m.name }}</h4>
                            </div>
                            <div class="card-body">
                                <p class="m-0">{{ m.genre }}</p>
                                <p class="m-0">
                                    <a href="/assistir/{{user_id}}/{{m.id}}">Assistir do inicio</a> - 
                                    <a href="/assistirmetade/{{user_id}}/{{m.id}}">Mais um pouco</a> - 
                                    <a href="/terminar/{{user_id}}/{{m.id}}">Terminar</a> - 
                                    <a href="/favoritar/{{user_id}}/{{m.id}}">Favoritar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="ui aligned header">Não assistidos</h2>
            </div>
            {% for movie in movie_list %}
                {% if(movie.metade == False and movie.assistiu == False) %}
                <div class="col-12 col-md-6 col-lg-3"">
                    <div class="card mb-3">
                        <div class="card-header d-flex align-items-center px-2" style="min-height: 90px;">
                            <h4 class="h4 text-justify">{{ movie.name }}</h4>
                        </div>
                        <div class="card-body">
                            <p class="m-0">{{ movie.genre }}</p>
                            <p class="m-0">
                                <a href="/assistir/{{user_id}}/{{movie.id}}">Assistir</a> - 
                                <a href="/assistirmetade/{{user_id}}/{{movie.id}}">Um pouco</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="ui aligned header">Assistidos</h2>
            </div>
            {% for movie in movie_list %}
                {% if(movie.assistiu == True) %}
                <div class="col-12 col-md-6 col-lg-3"">
                    <div class="card mb-3">
                        <div class="card-header d-flex align-items-center px-2" style="min-height: 90px;">
                            <h4 class="h4 text-justify">{{ movie.name }}</h4>
                        </div>
                        <div class="card-body">
                            <p class="m-0">{{ movie.genre }}</p>
                            <p class="m-0">
                                <a href="/favoritar/{{user_id}}/{{movie.id}}">Favoritar</a> - 
                                <a href="/assistir/{{user_id}}/{{movie.id}}">Assistir</a> - 
                                <a href="/assistirmetade/{{user_id}}/{{movie.id}}">Um pouco</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>