<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Towtyflix</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Catalogo de filmes</h1>
        
        <div class="ui segment">
            <h2 class="ui aligned header">Recomendaçoes</h2>
            {% for rec in rec_list %}
                <div class="ui segment">
                    <p>
                        <span class="ui big header">{{ rec.nota }} - {{ rec.name }}</span>
                        <br>
                        {{ rec.genre }}
                        <br>
                        <a href="/favoritar/{{user_id}}/{{rec.id}}">Favoritar</a> - 
                        <a href="/assistir/{{user_id}}/{{rec.id}}">Assistir</a> - 
                        <a href="/assistirmetade/{{user_id}}/{{rec.id}}">Metade</a>
                    </p>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="ui segment">
            <h2 class="ui aligned header">Continuar assistindo</h2>
            {% for movie in movie_list %}
                {% if(movie.metade == True) %}
                    <div class="ui segment">
                        <p>
                            <span class="ui big header">{{ movie.name }}</span>
                            <br>
                            {{ movie.genre }}
                            <br>
                            <a href="/favoritar/{{user_id}}/{{movie.id}}">Favoritar</a> - 
                            <a href="/assistir/{{user_id}}/{{movie.id}}">Assistir</a> - 
                            <a href="/assistirmetade/{{user_id}}/{{movie.id}}">Metade</a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="ui segment">
            <h2 class="ui aligned header">Não assistidos</h2>
            {% for movie in movie_list %}
                {% if(movie.metade == False and movie.assistiu == False) %}
                    <div class="ui segment">
                        <p>
                            <span class="ui big header">{{ movie.name }}</span>
                            <br>
                            {{ movie.genre }}
                            <br>
                            <a href="/favoritar/{{user_id}}/{{movie.id}}">Favoritar</a> - 
                            <a href="/assistir/{{user_id}}/{{movie.id}}">Assistir</a> - 
                            <a href="/assistirmetade/{{user_id}}/{{movie.id}}">Metade</a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="ui segment">
            <h2 class="ui aligned header">Assistidos</h2>
            {% for movie in movie_list %}
                {% if(movie.assistiu == True) %}
                    <div class="ui segment">
                        <p>
                            <span class="ui big header">{{ movie.name }}</span>
                            <br>
                            {{ movie.genre }}
                            <br>
                            <a href="/favoritar/{{user_id}}/{{movie.id}}">Favoritar</a> - 
                            <a href="/assistir/{{user_id}}/{{movie.id}}">Assistir</a> - 
                            <a href="/assistirmetade/{{user_id}}/{{movie.id}}">Metade</a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>